fowards:
  -
    dst_host: 127.0.0.1 # domain or ip address
    dst_port: 8080
    dst_protocol: "http" # http/https/udp/tcp

    # listen_port: 8443 # same as "dst_port" if unset
    # listen_protocol: "https" # same as "dst_protocol" if unset, only support convert between http and https right now

    tls: 
      enable_tls: true # disable if unset
      ref_alias: "example.github.com" # alias in certs fields
      # use ref or certs config
      mode: "file"
      cert_file: ".cer"
      key_file: ".key"
    ignore_tls_error: true # id dst has invalid https cert, ignore it.
    port_mapping: false # automatic port mapping via NAT-PMP

certs:
  - # file example
    alias: "example.github.com" # ref key of cert
    mode: "file"
    cert_file: ".cer"
    key_file: ".key"
  - # acme example
    alias: "example.github.com"
    mode: "dns" # dns or http
    domain: "example.github.com"
    email: "admin@xxx.com" # account of acme
    provider: cloudflare # read https://go-acme.github.io/lego/dns/ for more provider 
    params: 
      CF_DNS_API_TOKEN: API_TOKEN

